<div class="edit-note-wrapper has-blurred-white-bg container ">
  <h2 class="is-bold">Editar</h2>

  <form #form="ngForm">
    <div class="textanderror">
      <input type="text" ngModel #titleField="ngModel" name="title" class="text-box"
        placeholder="Digite o título da nota." required>
      <p *ngIf="titleField.invalid">Titulo obrigatório!</p>
    </div>
    <textarea class="textarea" ngModel name="content" placeholder="Digite a mensagem da nota."></textarea>
    <div class="btn-container ">
      <a routerLink="../" class="btn">Cancelar</a>
      <button class="btn align-end">Salvar</button>
    </div>
  </form>
</div>