.manage-bookmarks-wrapper{
  height: 100%;
  overflow:auto;
  display:flex;
  border-radius: 5px;
}

.sidebar{
  height: 100%;
  width:220px;
  background-color:rgba(black,0.7); 
  backdrop-filter: blur(8px);
}

.content{
 height: 100%;
flex-grow: 1;
}
.sidebar-heading{
  color:rgba(white,0.8);
  font-weight:600;
  font-size:20px;
  padding:25px;
  text-align: center;
}
.sidebar-items{
display:flex;
flex-direction: column;

.sidebar-item{
  position:relative;
  color:rgba(white,0.75);
  padding:5px 25px;
  &:hover {
    color:rgba(white,0.9);}
  &.selected { 
    color:rgba(white,0.95);}
}
}

.sidebar-item::before{
content: "";
position: absolute;
top: 0;
left:0;
height:100%;
width:4px;
background-color:white;
opacity: 0;
transition: 0.3s;
transform: scaleY(0)
}
.sidebar-item.selected::before{
opacity: 1;
transform: scaleY(1)
}
