@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");//reset css
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
html{
  font-family: "Inter", sans-serif;
  color:#222;

}
html, body {
  height: 100%;
}
h1{
  font-size: 48px;

}
h2{
  font-size: 40px;
}


.container{
  max-width: 45%;
  margin:auto;
}
.btn{
  display:inline-flex;
  align-items:center;
  padding: 12px 22px;
  background:rgba(black,0.7);
  cursor: pointer;
  color:white;
  border-radius:4px ;
  font-size:18px; 
  font-weight: 600;
  text-decoration: none;
  font-family: inherit;
  border:none;
  &:hover{
    background:rgba(black,0.8);
    backdrop-filter: blur(2px);
  }
  &:active{
    background:rgba(black,0.85);
    backdrop-filter: blur(2px);
    transform: translateY(1.5px);

  }
}
.btn-container{
  display:flex;
  margin-top:20px;
&.btn-center{
  justify-content:center;
}
.align-end{
  margin-left:auto;
}
}

.has-blurred-white-bg{
  background:rgba(white,0.80);
  backdrop-filter:blur(20px);
}

h1.is-bold,h2.is-bold{
  font-weight:bold;
  letter-spacing:-2px;
}

.text-box,.textarea{
  display:block;
  font-size: 18px;
  font-family: inherit;
  width: 100%;
  padding:8px 10px;
  background:rgba(white,0.9);
  border: 2px solid rgba(black,0.4);
  border-radius:4px;
  &:hover{
    border-color:rgba(black,0.6);
  }

}
.textarea{
  resize:vertical;
  min-height:150px;
}
a{
  text-decoration: none;
}